<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testonchrome">
    <parameter name="browser" value="msedge"></parameter>
    <classes>
      <class name="Cross.VarifyTitle"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Testonmsedge">
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Cross.VarifyTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
